<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
          <img class="col-lg-8 col-xs-12" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png">

       </div>
       <div class="row">
             <h1>Gestor de Clientes</h1>
            <button on-click="obtenerClientes" type="button" class="btn btn-success" name ="button"> Cargar Datos</button>
            <br>
            <button on-click="agregarClientes" type="button" class="btn btn-success" name ="button"> Registrar Datos</button>

       </div>

       <div class="row">
         <table>
           <tbody>
             <template is="dom-repeat" items="{{clientes}}" index-as="index">
                <tr>
                  <td>[[item.CustomerID]]</td>

                  <td>[[item.ContactName]]</td>

                  <td>[[item.CompanyName]]</td>
                </tr>

             </template>
           </tbody>
         </table>
       </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true

          }

        };
      }

    obtenerClientes(){
      var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
      var request= new XMLHttpRequest();
      request.open("GET",url,false);
      request.setRequestHeader("Accept","application/json");
      request.send();
      this.clientes=JSON.parse(request.responseText).value;
      console.table(this.clientes);
      }

      agregarClientes(){
        var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request= new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente={"CustomerID":1234, "ContactName":"Pepe", "CompanyName":"Pepe's Bar"};
        var body=JSON.stringify(nuevoCliente);

        request.send(body);
        this.respuesta=request.responseText;
        console.table(this.respuesta);


      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
